@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Indie+Flower&display=swap');

:root {
  /* color pallete */
  --first-color: #000000;
  --second-color: #282A3A;
  --third-color: #735F32;
  --forth-color: #C69749;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding-top: 2em;
  color: var(--forth-color);
  background-color: var(--first-color);
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: 4rem;
}

header nav {
  display: flex;
  gap: 5%;
  width: 80%;
  justify-content: center;
}

header nav button {
  width: 8em;
  min-width: 4em;
  font-size: 1.4rem;
  font-family: 'Dancing Script', cursive;
  color:  var(--forth-color);
  background-color: var(--first-color);
  border: solid 2px var(--second-color);
  position: relative;
  top: 2px;
}

header nav button:focus {
  background-color: var(--second-color);
  border: solid 2px var(--second-color);
}

header nav button:hover {
  color: white;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--second-color);
}

.mainDiv {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
  align-items: center;
  width: min(65%, calc(70% + 100px));
  height: 100%;
  position: relative;
  z-index: 1;
}

.mainParas {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  color: var(--first-color);
}

.mainParas p:nth-child(2),
.mainParas p:nth-child(3),
.mainParas p:nth-child(5) {
  color: var(--forth-color);
  font-family: 'Dancing Script', cursive;
}

.mainImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

img {
  width: min(20em, calc(70% + 100px));
  height: auto;
  border: solid 2px var(--third-color);
  border-radius: 20px;
  opacity: 0.65;
  transition: transform .5s ease;
}

img:hover {
  transform: scale(1.12);
}

.mainQuote {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  width: 70%;
  color: var(--third-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainQuote:last-child {
  align-items: flex-end;
}

footer {
  text-align: center;
  width: 100%;
  padding: 1em;
  background-color: var(--third-color);
  font-family: 'Courier New', Courier, monospace;
}